body{
  /*  background-image: url("/home/ouardia/Downloads/modern-white-background.jpg");*/
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
   /* margin-left: 10%;
    margin-right: 10%;*/
}

header{
    position:absolute;
    width:80%;
    top: 0%;
    margin-top: 2%;
    z-index: 1000;   
    display:block;
    align-items: center;   
    justify-content:space-between;
    background: transparent;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

#home{  
    padding-top: 18%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

}
#about{
    padding-top:8%;
    margin-left: 10%;
    margin-right: 10%;
}
p{
    text-align: center;
    font-size:250%;
    font-weight: bold;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 250%;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    color: black;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: black;
}
#pdp{
    padding-left:50%;
    position: absolute;
    border-radius: 50%;

}

.navList{
    display: block;
    list-style-type: none;
    overflow: hidden;
    font-size: 100%;
    color: #111111c9;
    /*background-color: #333;*/
    margin-right: 0%;
}
li{
    float: left;
    border-right: none;
    padding-left: 10%;
}
li a{
    float: none;
    color:#111111c9;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    

}

header ul li a:hover{
    border-radius: 4px;
    background-color:darkgray;
}

li:last-child{
    border-right:none;

}
/*#picture{
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 0%;
}*/
h4,h5,h6{
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
}


pre{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

#wtm{
    padding-right: 5%;
    padding-left: 5%;
}

input{
    padding: 5px;
    inline-size: 10%;
    border-radius: 16px;
    width: 38%;
    display:block;
    border-color: #111;
}
textarea{
    border-radius: 16px;
    border-color: #111;
}
#msg{
    height: 10vw;
    padding: 30px;
}
#btn{
    padding: 8px;
    border-radius: 16px;
    background-color: gray;
    color :#111;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 12%;
}


#contact{
    padding-top : 10%;
    margin-left: 10%;
    margin-right: 10%;
    
}

form{
    display:block;
    justify-content: center;
    align-items: center;
    
}
label{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;

}

@keyframes move {
    from {
        right: 0%;
    }
    to{
        right: 10%
    }
    
}
.contactImage {
    float: right;
    padding-right: 30%;
    position: relative;
    animation:move 2s ease-out infinite alternate;
    padding-top: 10%;
}

.logo{
    float: left;
    font-size: 35px;
    text-decoration: wavy;
    font-weight: bold;
    color: #111111c9;
    padding-top: 0.7%;
}

.footer{
    height: 150px;
    background-color:#111111c9;
    color: aliceblue;
    padding: 3px;
    text-align: center;
    display: block;
    left: 0%;
    right:0%;
}

.title1{
    padding-top:2%;
    padding-right: 40px;
    font-size: 17px;
}
